@model Totalligent.UI.Models.EmployeeMasterModel
@using Totalligent.BusinessEntities;

@{
    ViewBag.Title = "EmployeeMaster";
    Layout = "~/Areas/GroupLifeInsurance/Views/Shared/_Layout.cshtml";
}


@{ List<SelectListItem> RelationList = new List<SelectListItem>();
    RelationList.Add(new SelectListItem
    {
        Text = "Self",
        Value = "Self"
    });
    RelationList.Add(new SelectListItem
    {
        Text = "Spouse",
        Value = "Spouse"
    });
    RelationList.Add(new SelectListItem
    {
        Text = "Child",
        Value = "Child"
    }); }

@{ List<SelectListItem> Gender = new List<SelectListItem>();
    Gender.Add(new SelectListItem
    {
        Text = "Male",
        Value = "Male"
    });
    Gender.Add(new SelectListItem
    {
        Text = "Female",
        Value = "Female"
    });
    Gender.Add(new SelectListItem
    {
        Text = "Transgender",
        Value = "Transgender"
    }); }



@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="p-t-30">
    <div class="box">
        <div class="box-header with-border">
            <ul class="nav nav-pills justify-content-center mb-0">
                <li class=" nav-item flex-fill text-center"> <a href="#navpills2-1" class="nav-link active" data-toggle="tab" aria-expanded="false"><i class="fa fa-building-o mr-3"></i>Employee Master</a> </li>
                <li class="nav-item flex-fill text-center"> <a href="#navpills2-2" class="nav-link" data-toggle="tab" aria-expanded="false"><i class="fa fa-search mr-3"></i>Search Employee Master</a> </li>
            </ul>
        </div>
        <div class="box-body">
            <div class="tab-content">
                <div id="navpills2-1" class="tab-pane active">
                    <form id="formEmployee">
                        <h4 class="text-center text-success">@TempData["Alertmsg"]</h4>
                        @{ TempData.Keep("EMFolderName");}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="col-sm-12 font-weight-bold text-center">Employee Basic Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">

                                            @Html.Label("Relationship", "Relationship", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })

                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("RelationshipId", RelationList, new { @class = "form-control", @onchange = "callChangefunc(this.value)" })
                                        </div>
                                    </div>
                                </div>
                                <div id="EmployeeDetails">
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("EmployeeName", "EmployeeName", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("EmployeeName", "", new { @required = "required", @class = "form-control", placeholder = "Enter Employee Name" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("EmployeeUniqueNumber", "EmployeeUniqueNumber", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("EmployeeUniqueNumber", "", new { @required = "required", @class = "form-control", placeholder = "Enter Employee UID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Client Name</label>

                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("ClientCompanyName", Model.lstClientMaster, "-- Select Client --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Gender</label>

                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("EmployeeGender", Gender, "-- Select Gender --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("DOB", "DOB", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("DOB", "", new { @type = "date", @required = "required", @class = "form-control", placeholder = "Enter DOB" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("Age", "Age", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("Age", "", new { @required = "required", @class = "form-control", placeholder = "Enter Age" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-form-label text-md-right w-full">Nationality</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("NationalityId", Model.lstNationlity, "-- Select Country --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("Category", "Category", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })

                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("Category", "", new { @required = "required", @class = "form-control", placeholder = "Enter Category" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SumAssured", "SumAssured", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SumAssured", "", new { @required = "required", @class = "form-control", placeholder = "Enter SumAssured" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("Salary", "Salary", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("Salary", "", new { @required = "required", @class = "form-control", placeholder = "Enter Salary" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("EAW", "EAW", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("EAW", "", new { @required = "required", @class = "form-control", placeholder = "Enter EAW" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("EffectiveDate", "EffectiveDate", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("EffectiveDate", "", new { @type = "date", @required = "required", @class = "form-control", placeholder = "Enter EffectiveDate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("Remarks", "Remarks", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("Remarks", "", new { @required = "required", @class = "form-control", placeholder = "Enter Remarks" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("Status", "", new { @required = "required", @class = "form-control", placeholder = "Enter Status" })

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="SpouseDetails" style="display: none;">
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="EmployeeUIDSpouse" class="col-form-label text-md-right w-full">Employee UID </label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("EmployeeUIDSpouse", "", new { @required = "required", @class = "form-control", placeholder = "Enter Employee UID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="SpouseName" class="col-form-label text-md-right w-full">Spouse Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseName", "", new { @required = "required", @class = "form-control", placeholder = "Enter Spouse Name" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Gender</label>

                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("SpouseGender", Gender, "-- Select Gender --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Spouse DOB</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseDOB", "", new { @type = "date", @required = "required", @class = "form-control", placeholder = "Enter SpouseDOB" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SpouseAge", "SpouseAge", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseAge", "", new { @required = "required", @class = "form-control", placeholder = "Enter Spouse Age" })

                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-form-label text-md-right w-full">Spouse Nationality</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("SpouseNationality", Model.lstNationlity, "-- Select Country --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SpouseCategory", "SpouseCategory", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })

                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseCategory", "", new { @required = "required", @class = "form-control", placeholder = "Enter SpouseCategory" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SpouseSumAssured", "SpouseSumAssured", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseSumAssured", "", new { @required = "required", @class = "form-control", placeholder = "Enter SpouseSumAssured" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SpouseSalary", "SpouseSalary", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseSalary", "", new { @required = "required", @class = "form-control", placeholder = "Enter SpouseSalary" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SpouseEffectiveDate", "SpouseEffectiveDate", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseEffectiveDate", "", new { @type = "date", @required = "required", @class = "form-control", placeholder = "Enter SpouseEffectiveDate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("SpouseRemarks", "SpouseRemarks", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseRemarks", "", new { @required = "required", @class = "form-control", placeholder = "Enter SpouseRemarks" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Spouse Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("SpouseStatus", "", new { @required = "required", @class = "form-control", placeholder = "Enter SpouseStatus" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ChildDetails" style="display: none;">
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="EmployeeUIDChild" class="col-form-label text-md-right w-full">Employee UID</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("EmployeeUIDChild", "", new { @required = "required", @class = "form-control", placeholder = "Enter Employee UID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="EmployeesSpouse" class="col-form-label text-md-right w-full">Select Spouse</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("EmployeesSpouse", Gender, "-- Select Spouse --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-form-label text-md-right w-full">Child Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildName", "", new { @required = "required", @class = "form-control", placeholder = "Enter Child Name" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Gender</label>

                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("ChildGender", Gender, "-- Select Gender --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildDOB", "ChildDOB", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildDOB", "", new { @type = "date", @required = "required", @class = "form-control", placeholder = "Enter ChildDOB" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildAge", "ChildAge", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildAge", "", new { @required = "required", @class = "form-control", placeholder = "Enter ChildAge" })

                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-form-label text-md-right w-full">Chile Nationality</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownList("ChildNationality", Model.lstNationlity, "-- Select Country --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildCategory", "ChildCategory", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })

                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildCategory", "", new { @required = "required", @class = "form-control", placeholder = "Enter ChildCategory" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildSumAssured", "ChildSumAssured", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildSumAssured", "", new { @required = "required", @class = "form-control", placeholder = "Enter ChildSumAssured" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildSalary", "ChildSalary", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildSalary", "", new { @required = "required", @class = "form-control", placeholder = "Enter ChildSalary" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildEffectiveDate", "ChildEffectiveDate", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildEffectiveDate", "", new { @type = "date", @required = "required", @class = "form-control", placeholder = "Enter ChildEffectiveDate" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.Label("ChildRemarks", "ChildRemarks", htmlAttributes: new { @class = "col-sm-12 col-form-label text-right" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildRemarks", "", new { @required = "required", @class = "form-control", placeholder = "Enter ChildRemarks" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-15">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="col-sm-12 col-form-label text-right">Child Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("ChildStatus", "", new { @required = "required", @class = "form-control", placeholder = "Enter ChildStatus" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <h4 class="col-sm-12 font-weight-bold text-center">Employee's Account Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="BankName" class="col-form-label text-md-right w-full">Bank Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("BankName", Model.lstBankMaster, "-- Select Bank --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Account Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("AccountNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Account Number", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Repeat Account Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Password("RepeatAccountNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Account Number", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">IFSC Code</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("IFSCCode", "", new { @class = "form-control w-full", @placeholder = "Enter IFSC Code", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Upload KYC </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="Divdropzone" class=" dropzone" action="~/GroupLifeInsurance/EmployeeMaster/SaveUploadedFile" method="post" enctype="multipart/form-data">
                                                <div id="tabs-3">
                                                    <div class="row field ">
                                                        <div id="dropzoneWrapper" class="dz-default dz-message col-12">
                                                            <i class="mdi mdi-cloud-upload font-size-30 text-muted"></i>
                                                            <h5>Drop files here or click to Upload</h5>
                                                            <div id="dropZoneContainer">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divKYCDownload" class="hide">
                                                <a href="/KYC_Files/EmpMasterKYCFiles/20041.zip" class="badge badge-pill badge-warning" download> Download KYC</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary-login m-20" type="button" onclick="temptableAdd();">
                                            <i class="mdi mdi-plus"></i> Add Employee
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 hide">
                                <div class="box">
                                    <div class="box-body no-padding">
                                        <div class="table-responsive">
                                            <table id="tempEmpDetailsTable" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Gender</th>
                                                        <th>Relation</th>
                                                        <th>Client Name</th>
                                                        <th>Age</th>
                                                        <th>Nationality</th>
                                                        <th>Category</th>
                                                        <th>Salary</th>
                                                        <th>Effective Date</th>
                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" id="btnSubmitEmployeeMaster" value="Create" class="btn btn-primary" />
                                        <button class="btn btn-primary-login m-20" type="button" data-toggle="modal" data-target="#uploadBulk">
                                            <i class="mdi mdi-cloud-upload"></i> Bulk Upload Policy
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="hdnEmpMasterID" value="0">
                        </div>
                        
                    </form>
                </div>
                <div id="navpills2-2" class="tab-pane ">
                    <div class="card no-shadow">
                        <div class="card-body form-horizontal">
                            <div class="row ">
                                <div class="col-md-3">
                                    @Html.TextBox("txtEmpName", "", new { @required = "required", @class = "form-control", placeholder = "Enter an Employee Master Name" })

                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("txtEmpId", "", new { @required = "required", @class = "form-control", placeholder = "Enter an Employee Master Code" })

                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("txtClientName", "", new { @required = "required", @class = "form-control", placeholder = "Enter an Employee Client Name" })

                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" id="EMFolderName" value='@TempData["EMFolderName"]' />
                                    <button type="button" id="btnSearch" class="btn btn-block btn-primary"><i class="fa fa-search mr-3"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Search Results:</h5>
                    <br />
                    <div class="table-responsive">
                        <table id="tblEMaster" class="table table-hover">
                            <tr>
                                <th>EmployeeName</th>
                                <th>EmpUniqueNumber</th>

                                <th>Nationality</th>
                                <th>Category</th>
                                <th>Age</th>
                                <th>KYCUploadPath</th>

                                <th class="text-center">Actions</th>
                            </tr>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @using (Html.BeginForm("BulkUpdate", "EmployeeMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="uploadBulk" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="uploadBulkLabel">Upload Bulk Policies</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <div class="text-right">

                                    <a href="~/Masters/EmployeeMaster.csv" class="btn btn-dark btn-sm" download>
                                        <i class="mdi mdi-download"></i> Download Sample format
                                    </a>
                                </div>
                                <div class="fileuploader fileuploader-theme-dragdrop">
                                    <input type="file" name="EMPCSVFile" id="fileUploadEM" accept=".csv" />
                                    <div class="mt-2">
                                        <i class="fa fa-upload fa-sm btn btn-success btn-block" onclick="csvFileUpload();">
                                            <span>Upload</span>
                                        </i>
                                        <button id="uploadFiles" class="btn btn-primary btn-sm mx-1 hide">Upload File</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }
</div>
<script type="text/javascript">
    function csvFileUpload() {

        var rowCount = 0;
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test($("#fileUploadEM").val().toLowerCase())) {

            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {

                    var rows = e.target.result.split('\r\n');

                    for (var i = 0; i < rows.length; i++) {

                        var cells = rows[i].split(",");
                        var RRC = rowCount + 1;
                        if (i == 0) {


                            // Heater validation
                            if (cells.length == 36) {
                                if (cells[0] != "EmployeeName") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (EmployeeName).");
                                    return false;
                                }
                                if (cells[1] != "EmployeeUniqueNumber") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (EmployeeUniqueNumber).");
                                    return false;
                                }
                                if (cells[2] != "ClientName") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ClientName).");
                                    return false;
                                }
                                if (cells[3] != "Relation") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Relation).");
                                    return false;
                                }
                                if (cells[4] != "Nationality") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Nationality).");
                                    return false;
                                }
                                if (cells[5] != "Category") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Category).");
                                    return false;
                                }
                                if (cells[6] != "DOB") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (DOB).");
                                    return false;
                                }
                                if (cells[7] != "Age") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Age).");
                                    return false;
                                }
                                if (cells[8] != "Salary") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Salary).");
                                    return false;
                                }
                                if (cells[9] != "EAW") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (EAW).");
                                    return false;
                                }
                                if (cells[10] != "SumAssured") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SumAssured).");
                                    return false;
                                }
                                if (cells[11] != "EffectiveDate") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (EffectiveDate).");
                                    return false;
                                }
                                if (cells[12] != "Remarks") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Remarks).");
                                    return false;
                                }
                                if (cells[13] != "SpouseAge") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseAge).");
                                    return false;
                                }
                                if (cells[14] != "ChildAge") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildAge).");
                                    return false;
                                }
                                if (cells[15] != "SpouseCategory") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseCategory).");
                                    return false;
                                }
                                if (cells[16] != "ChildCategory") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildCategory).");
                                    return false;
                                }
                                if (cells[17] != "SpouseDOB") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseDOB).");
                                    return false;
                                }
                                if (cells[18] != "ChildDOB") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildDOB).");
                                    return false;
                                }
                                if (cells[19] != "SpouseEffectiveDate") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseEffectiveDate).");
                                    return false;
                                }
                                if (cells[20] != "ChildEffectiveDate") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildEffectiveDate).");
                                    return false;
                                }
                                if (cells[21] != "SpouseNationality") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseNationality).");
                                    return false;
                                }
                                if (cells[22] != "ChildNationality") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildNationality).");
                                    return false;
                                }
                                if (cells[23] != "SpouseRemarks") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseRemarks).");
                                    return false;
                                }
                                if (cells[24] != "ChildRemarks") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildRemarks).");
                                    return false;
                                }
                                if (cells[25] != "SpouseSalary") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseSalary).");
                                    return false;
                                }
                                if (cells[26] != "ChildSalary") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildSalary).");
                                    return false;
                                }
                                if (cells[27] != "SpouseStatus") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseStatus).");
                                    return false;
                                }
                                if (cells[28] != "ChildStatus") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildStatus).");
                                    return false;
                                }
                                if (cells[29] != "SpouseSumAssured") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (SpouseSumAssured).");
                                    return false;
                                }
                                if (cells[30] != "ChildSumAssured") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (ChildSumAssured).");
                                    return false;
                                }
                                if (cells[31] != "BankID") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (BankID).");
                                    return false;
                                }
                                if (cells[32] != "AccountNumber") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (AccountNumber).");
                                    return false;
                                }
                                if (cells[33] != "IFSCCode") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (IFSCCode).");
                                    return false;
                                }
                                if (cells[34] != "Status") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (Status).");
                                    return false;
                                }
                                if (cells[35] != "KYCUploadPath") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check column name mismatch (KYCUploadPath).");
                                    return false;
                                }

                            }
                            else {
                                $('#fileUploadEM').val('');
                                alert("Upload Csv file invalid template , Please check .");
                                return false;
                            }

                        } else {
                            // Row validation
                            if (cells.length == 36) {
                                if (cells[0] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "EmployeeName  is empty");
                                    return false;
                                }
                                if (cells[1] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "EmployeeUniqueNumber  is empty");
                                    return false;
                                }
                                if (cells[2] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ClientName  is empty");
                                    return false;
                                }
                                if (cells[3] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Relation  is empty");
                                    return false;
                                }
                                if (cells[4] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Nationality  is empty");
                                    return false;
                                }
                                if (cells[5] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Category  is empty");
                                    return false;
                                }
                                if (cells[6] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "DOB  is empty");
                                    return false;
                                }
                                if (cells[7] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Age  is empty");
                                    return false;
                                }
                                if (cells[8] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Salary  is empty");
                                    return false;
                                }
                                if (cells[9] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "EAW  is empty");
                                    return false;
                                }
                                if (cells[10] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SumAssured  is empty");
                                    return false;
                                }
                                if (cells[11] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "EffectiveDate  is empty");
                                    return false;
                                }
                                if (cells[12] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Remarks  is empty");
                                    return false;
                                }
                                if (cells[13] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseAge  is empty");
                                    return false;
                                }
                                if (cells[14] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildAge  is empty");
                                    return false;
                                }
                                if (cells[15] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseCategory  is empty");
                                    return false;
                                }
                                if (cells[16] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildCategory  is empty");
                                    return false;
                                }
                                if (cells[17] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseDOB  is empty");
                                    return false;
                                }
                                if (cells[18] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildDOB  is empty");
                                    return false;
                                }
                                if (cells[19] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseEffectiveDate  is empty");
                                    return false;
                                }
                                if (cells[20] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildEffectiveDate  is empty");
                                    return false;
                                }
                                if (cells[21] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseNationality  is empty");
                                    return false;
                                }
                                if (cells[22] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildNationality  is empty");
                                    return false;
                                }
                                if (cells[23] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseRemarks  is empty");
                                    return false;
                                }
                                if (cells[24] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildRemarks  is empty");
                                    return false;
                                }
                                if (cells[25] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseSalary  is empty");
                                    return false;
                                }
                                if (cells[26] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildSalary  is empty");
                                    return false;
                                }
                                if (cells[27] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseStatus  is empty");
                                    return false;
                                }
                                if (cells[28] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildStatus  is empty");
                                    return false;
                                }
                                if (cells[29] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "SpouseSumAssured  is empty");
                                    return false;
                                }
                                if (cells[30] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "ChildSumAssured  is empty");
                                    return false;
                                }
                                if (cells[31] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "BankID  is empty");
                                    return false;
                                }
                                if (cells[32] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "AccountNumber  is empty");
                                    return false;
                                }
                                if (cells[33] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "IFSCCode  is empty");
                                    return false;
                                }
                                if (cells[34] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "Status  is empty");
                                    return false;
                                }
                                if (cells[35] == "") {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + "KYCUploadPath  is empty");
                                    return false;
                                }
                            }
                            else {

                                if (cells.length > 1) {
                                    $('#fileUploadEM').val('');
                                    alert("Please check Row NO : " + RRC + " This row have comma simple or invalied Column length");
                                    return false;
                                }
                            }

                        }

                        rowCount += 1;

                    }

                    if (rowCount == rows.length) {
                        $("#hdnMsgStatus").val('Y');
                        $("#uploadFiles").click();

                    }

                }
                reader.readAsText($("#fileUploadEM")[0].files[0]);
            } else {
                $('#fileUploadEM').val('');
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            $('#fileUploadEM').val('');
            alert("Please upload a valid CSV file.");
            return false;
        }
    }

    $(document).ready(function () {

        $("#txtEmpName").autocomplete({
            minLength: 2,
            autoFocus: true,
            open: function () { $($('.ui-autocomplete')).css('width', '300px'); },
            source: function (request, response) {
                var param = { prefixText: $('#txtEmpName').val(), Action: "EName" };

                $.ajax({
                    url: "/GroupLifeInsurance/EmployeeMaster/GetAutocompleteEmpNameId",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.EmployeeName,
                                value: item.EmployeeName
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        //alert(err.Message)
                        console.log("Ajax Error!");
                    }
                });
            },
            //select: function (e, i) {
            //    $("#txtSeaRIMaster").val(i.item.label);
            //    return false;
            //},
        });

        $('#btnSubmitEmployeeMaster').on('click', function () {


            if ($.trim($('#EmployeeName').val()) == "") {
                alert('Please enter EmployeeName');
                $('#EmployeeName').focus();
                return false;
            }

            //if ($.trim($('#Relation').val()) == "") {
            //    alert('Please enter Relation');
            //    $('#Relation').focus();
            //    return false;
            //}
            if ($.trim($('#Nationality').val()) == "") {
                alert('Please enter Nationality');
                $('#Nationality').focus();
                return false;
            }
            if ($.trim($('#Category').val()) == "") {
                alert('Please enter Category');
                $('#Category').focus();
                return false;
            }
            if ($.trim($('#DOB').val()) == "") {
                alert('Please enter DOB');
                $('#DOB').focus();
                return false;
            }
            if ($.trim($('#Age').val()) == "") {
                alert('Please enter Age');
                $('#Age').focus();
                return false;
            }
            if ($.trim($('#Salary').val()) == "") {
                alert('Please enter Salary');
                $('#Salary').focus();
                return false;
            }
            if ($.trim($('#EAW').val()) == "") {
                alert('Please enter EAW');
                $('#EAW').focus();
                return false;
            }
            if ($.trim($('#SumAssured').val()) == "") {
                alert('Please enter SumAssured');
                $('#SumAssured').focus();
                return false;
            }
            if ($.trim($('#EffectiveDate').val()) == "") {
                alert('Please enter EffectiveDate');
                $('#EffectiveDate').focus();
                return false;
            }
            if ($.trim($('#Remarks').val()) == "") {
                alert('Please enter Remarks');
                $('#Remarks').focus();
                return false;
            }
            //if ($.trim($('#EntryType').val()) == "") {
            //    alert('Please enter EntryType');
            //    $('#EntryType').focus();
            //    return false;
            //}
            if ($.trim($('#BankName').val()) == "") {
                alert('Please enter BankName');
                $('#BankName').focus();
                return false;
            }
            if ($.trim($('#AccountNumber').val()) == "") {
                alert('Please enter AccountNumber');
                $('#AccountNumber').focus();
                return false;
            }
            if ($.trim($('#IFSCCode').val()) == "") {
                alert('Please enter IFSCCode');
                $('#IFSCCode').focus();
                return false;
            }
            //if ($.trim($('#UploadKYC_01').val()) == "") {
            //    alert('Please enter UploadKYC_01');
            //    $('#UploadKYC_01').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_02').val()) == "") {
            //    alert('Please enter UploadKYC_02');
            //    $('#UploadKYC_02').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_03').val()) == "") {
            //    alert('Please enter UploadKYC_03');
            //    $('#UploadKYC_03').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_04').val()) == "") {
            //    alert('Please enter UploadKYC_04');
            //    $('#UploadKYC_04').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_05').val()) == "") {
            //    alert('Please enter UploadKYC_05');
            //    $('#UploadKYC_05').focus();
            //    return false;
            //}


            if ($.trim($('#BankName :selected').val()) == "") {
                alert("Please select BankName");
                $("#BankName").focus();
                return false;
            }

            if ($.trim($("#AccountNumber").val()) == "") {
                alert("Please enter Account Number");
                $("#AccountNumber").focus();
                return false;
            }
            if ($.trim($("#RepeatAccountNumber").val()) == "") {
                alert("Please enter Repeat Account Number");
                $("#RepeatAccountNumber").focus();
                return false;
            }
            if ($.trim($("#AccountNumber").val()) != "" && $.trim($("#RepeatAccountNumber").val()) != "") {
                if ($.trim($("#AccountNumber").val()) != $.trim($("#RepeatAccountNumber").val())) {
                    $("#RepeatAccountNumber").val("");
                    $("#RepeatAccountNumber").focus();
                    alert("Please check,Account Number is not match");
                    return false;
                }
            }

            if ($.trim($("#IFSCCode").val()) == "") {
                alert("Please enter IFSCCode");
                $("#IFSCCode").focus();
                return false;
            }

            var objEmpMaster = new Object();
            objEmpMaster.EmployeeId = $('#hdnEmpMasterID').val();
            objEmpMaster.EmployeeName = $('#EmployeeName').val();
            objEmpMaster.EmployeeGender = $('#EmployeeGender').val();
            objEmpMaster.EmployeeUniqueNumber = $('#EmployeeUniqueNumber').val();
            //objEmpMaster.Relation = $('#Relation').val();
            objEmpMaster.Nationality = $('#Nationality').val();
            objEmpMaster.Category = $('#Category').val();
            objEmpMaster.DOB = $('#DOB').val();
            objEmpMaster.Age = $('#Age').val();
            objEmpMaster.Salary = $('#Salary').val();
            objEmpMaster.EAW = $('#EAW').val();
            objEmpMaster.SumAssured = $('#SumAssured').val();
            objEmpMaster.EffectiveDate = $('#EffectiveDate').val();
            objEmpMaster.Remarks = $('#Remarks').val();
            objEmpMaster.EntryType = $('#EntryType').val();
            objEmpMaster.ClientCompanyName = $('#ClientCompanyName').val();
            objEmpMaster.ClientName = $('#ClientCompanyName').val();

            objEmpMaster.UploadKYC_01 = $('#UploadKYC_01').val();
            objEmpMaster.UploadKYC_02 = $('#UploadKYC_02').val();
            objEmpMaster.UploadKYC_03 = $('#UploadKYC_03').val();
            objEmpMaster.UploadKYC_04 = $('#UploadKYC_04').val();
            objEmpMaster.UploadKYC_05 = $('#UploadKYC_05').val();
            objEmpMaster.Status = $('#Status').val();

            objEmpMaster.SpouseAge = $('#SpouseAge').val();
            objEmpMaster.ChildAge = $('#ChildAge').val();
            objEmpMaster.SpouseCategory = $('#SpouseCategory').val();
            objEmpMaster.ChildCategory = $('#ChildCategory').val();
            objEmpMaster.SpouseDOB = $('#SpouseDOB').val();
            objEmpMaster.ChildDOB = $('#ChildDOB').val();
            objEmpMaster.SpouseEffectiveDate = $('#SpouseEffectiveDate').val();
            objEmpMaster.ChildEffectiveDate = $('#ChildEffectiveDate').val();
            objEmpMaster.SpouseNationality = $('#SpouseNationality').val();
            objEmpMaster.ChildNationality = $('#ChildNationality').val();
            objEmpMaster.SpouseRemarks = $('#SpouseRemarks').val();
            objEmpMaster.ChildRemarks = $('#ChildRemarks').val();
            objEmpMaster.SpouseSalary = $('#SpouseSalary').val();
            objEmpMaster.ChildSalary = $('#ChildSalary').val();
            objEmpMaster.SpouseStatus = $('#SpouseStatus').val();
            objEmpMaster.ChildStatus = $('#ChildStatus').val();
            objEmpMaster.SpouseSumAssured = $('#SpouseSumAssured').val();
            objEmpMaster.ChildSumAssured = $('#ChildSumAssured').val();



            objEmpMaster.BankName = $('#BankName :selected').text();
            objEmpMaster.BankID = $('#BankName :selected').val();
            objEmpMaster.AccountNumber = $("#AccountNumber").val();
            objEmpMaster.IFSCCode = $("#IFSCCode").val();

            var param = { objEmpMaster: objEmpMaster, Action: $("#btnSubmitEmployeeMaster").val(), FolderName: $("#EMFolderName").val() };
            //var renewalData = $('#formRIMaster').serialize();
            $.ajax({
                type: "POST",
                url: "/GroupLifeInsurance/EmployeeMaster/AddUpdateEmpMaster",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: param,
                success: function (res) {
                    if (res > 0) {
                        Swal.fire({
                            icon: 'success',
                            title: '',
                            text: "Data Submitted Successfully.",
                        })
                    }
                    else if (res == -2) {
                        Swal.fire({
                            icon: 'warning',
                            title: '',
                            text: "Please provide all mandatory fields.",
                        })
                        //alert('Please provide all mandatory fields')
                        return false;
                    }
                    $('#formEmployee').reset();
                },
                error: function () {
                    // $("#lblMessage").html('Error while Registring the Company!.');
                    $('#formEmployee').reset();
                }
            })
        });
    });


    $('#btnSearch').on('click', function () {
        // var formData = $('#MotorForm').serialize();
        //txtCitytxtEmpCopdetxtEmpName
        var param = { EmpName: $('#txtEmpName').val(), EmpId: $('#txtEmpId').val(), ClientName: $('#txtClientName').val() };
        $("#tblEMaster").find("tr:not(:first)").remove();

        $.ajax({

            type: "GET",
            url: "/GroupLifeInsurance/EmployeeMaster/GetEmpMaster",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: param,
            success: function (Result) {
                if (Result.length > 0) {
                    var i = 0;
                    $.each(Result, function (key, value) {
                        i++;
                        var hdnID = "hdnobjJSonVal_" + i;
                        var JVal = JSON.stringify(value);
                        $('#tblEMaster').append('<tr> <td>' + value.EmployeeName + '</td>  <td>' + value.EmployeeUniqueNumber + '</td> <td>' + value.Nationality + '</td> <td>' + value.Category + '</td><td>' + value.Age + '</td><td> <a href="' + value.KYCUploadPath + '" class="badge badge-pill badge-warning" download> Download KYC</a></td><td class="text-center"><i class="mdi mdi-pencil text-primary mx-3" onclick="EditEmpMaster(' + "'" + hdnID + "'" + ')"></i><i class="mdi mdi-delete text-danger mx-3" onclick="DeActiveEmpMaster(this,' + value.EmployeeId.toString() + ');"></i><input type="hidden" id=' + hdnID + ' value=' + "'" + JVal + "'" + '></td></tr>');


                    })
                }
                else {
                    $('#tblEMaster').append('<tr> <td colspan="14" aligen="center" > No Records found </td></tr>');
                }

            },
            error: function () {
                // $("#lblMessage").html('Error while Registring the Company!.');
            }
        })
    });
    function temptableAdd() {
        var RelationShip = $("#RelationshipId").val();
        if (RelationShip == "Self") {
            $("#tempEmpDetailsTable tbody").append("<tr>" +
                "<td>" + $("#EmployeeName").val() + "</td>" +
                "<td>" + $("#EmployeeGender").val() + "</td>" +
                "<td>" + '<span class="badge badge-pill badge-primary">' + $("#RelationshipId").val() + '</span>' + "</td>" +
                "<td>" + $("#ClientCompanyName option:selected").text() + "</td>" +
                "<td>" + $("#Age").val() + "</td>" +
                "<td>" + $("#Nationality").val() + "</td>" +
                "<td>" + $("#Category").val() + "</td>" +
                "<td>" + $("#Salary").val() + "</td>" +
                "<td>" + $("#EffectiveDate").val() + "</td>" +
                "<td class='text-center'>" + '<i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i>' + "</td>" +
                "</tr>");
        }
        if (RelationShip == "Spouse") {
            $("#tempEmpDetailsTable tbody").append("<tr>" +
                "<td>" + $("#SpouseName").val() + "</td>" +
                "<td>" + $("#SpouseGender").val() + "</td>" +
                "<td>" + '<span class="badge badge-pill badge-primary">' + $("#RelationshipId").val() + '</span>' + "</td>" +
                "<td>" + $("#ClientCompanyName option:selected").text() + "</td>" +
                "<td>" + $("#SpouseAge").val() + "</td>" +
                "<td>" + $("#SpouseNationality").val() + "</td>" +
                "<td>" + $("#SpouseCategory").val() + "</td>" +
                "<td>" + $("#SpouseSalary").val() + "</td>" +
                "<td>" + $("#SpouseEffectiveDate").val() + "</td>" +
                "<td class='text-center'>" + '<i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i>' + "</td>" +
                "</tr>");
        }
        if (RelationShip == "Child") {
            $("#tempEmpDetailsTable tbody").append("<tr>" +
                "<td>" + $("#ChildName").val() + "</td>" +
                "<td>" + $("#ChildGender option:selected").text() + "</td>" +
                "<td>" + '<span class="badge badge-pill badge-primary">' + $("#RelationshipId").val() + '</span>' + "</td>" +
                "<td>" + $("#ClientCompanyName option:selected").text() + "</td>" +
                "<td>" + $("#ChildAge").val() + "</td>" +
                "<td>" + $("#ChildNationality").val() + "</td>" +
                "<td>" + $("#ChildCategory").val() + "</td>" +
                "<td>" + $("#ChildSalary").val() + "</td>" +
                "<td>" + $("#ChildEffectiveDate").val() + "</td>" +
                "<td class='text-center'>" + '<i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i>' + "</td>" +
                "</tr>");
        }
    }
    function callChangefunc(val) {
        if (val === 'Self') {
            $("#EmployeeDetails").show();
            $("#SpouseDetails").hide();
            $("#ChildDetails").hide();
        } else if (val === 'Spouse') {
            $("#EmployeeDetails").hide();
            $("#SpouseDetails").show();
            $("#ChildDetails").hide();
        } else if (val === 'Child') {
            $("#EmployeeDetails").hide();
            $("#SpouseDetails").hide();
            $("#ChildDetails").show();
        }
    }
    function DeActiveEmpMaster(obj, RID) {

        var RIDs = '' + RID;
        var param = { EmpId: RIDs };
        $.ajax({
            type: "POST",
            url: "/GroupLifeInsurance/EmployeeMaster/DeactivateEmpMaster",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: param,
            success: function (Result) {
                if (Result == "DeActivated") {
                    $(obj).closest('tr').remove();
                    alert("DeActivated successfully");
                    return false;
                }
                else { alert(Result); }
            },
            error: function () {
                console.log('Error while deactivating!.');
            }
        })

    }
    function EditEmpMaster(JsonObj) {
        $("#anavpills2-2").removeClass("active");
        $("#navpills2-2").removeClass("active");

        $("#anavpills2-1").addClass("active");
        $("#navpills2-1").addClass("active");

        var objRow = JSON.parse($("#" + JsonObj).val());
        $('#Status').val(objRow.Status);

        $('#ClientCompanyName').val(objRow.ClientName);
        $('#EmployeeName').val(objRow.EmployeeName);
        $('#EmployeeUniqueNumber').val(objRow.EmployeeUniqueNumber);
        //$('#Relation').val(objRow.Relation);
        $('#Nationality').val(objRow.Nationality);
        $('#Category').val(objRow.Category);
        $('#DOB').val(objRow.DOB);
        $('#Age').val(objRow.Age);
        $('#Salary').val(objRow.Salary);
        $('#EAW').val(objRow.EAW);
        $('#SumAssured').val(objRow.SumAssured);
        $('#EffectiveDate').val(objRow.EffectiveDate);
        $('#Remarks').val(objRow.Remarks);
        $('#EntryType').val(objRow.EntryType);

        $('#UploadKYC_01').val(objRow.UploadKYC_01);
        $('#UploadKYC_02').val(objRow.UploadKYC_02);
        $('#UploadKYC_03').val(objRow.UploadKYC_03);
        $('#UploadKYC_04').val(objRow.UploadKYC_04);
        $('#UploadKYC_05').val(objRow.UploadKYC_05);

        $('#BankName').val(objRow.BankID);
        $("#AccountNumber").val(objRow.AccountNumber);
        $("#RepeatAccountNumber").val(objRow.AccountNumber);
        $("#IFSCCode").val(objRow.IFSCCode);
        $("#hdnEmpMasterID").val(objRow.EmployeeId);


        $("#btnSubmitEmployeeMaster").val("Update");

    }

</script>
@section scripts {
    <script type="text/javascript">
        Dropzone.options.Divdropzone = {
            maxFiles: 6,
            acceptedFiles: 'image/*',
            maxFilesize: 2, // max file size in MB,
            addRemoveLinks: true,
            init: function () {
                this.on("error", function (file, message) {
                    alert(message + " because already reached maxmim file limt (3) or invalid file extension");
                    this.removeFile(file);
                });
            },

        };
    </script>
}
@*<script type="text/javascript">
        $(window).on("load", function () {
            $('#btnSubmitEmployeeMaster').on('click', function () {
                var formData = $('#formEmployee').serialize();
                $.ajax({

                    type: "POST",
                    url: "/Home/InsertEmployeeMaster",
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: formData,
                    success: function (res) {
                        //$("#tblMotor tr").filter(function () {
                        //    $(this).toggle($(this).text().toLowerCase().indexOf(formData) > -1)
                        //});
                        if (res > 0)
                            alert('success');
                        else {
                            alert('Record Not Saved.!');
                        }

                    },
                    error: function () {
                        alert('Error while saving the data.!');
                    }
                })
            });
        });
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#fileUploadMotor").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                //  fileData.append('txtMotorMaster', '1');

                $.ajax({
                    url: '/Home/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        if (result == 1) {
                            alert("File Doesn't belongs to Producer Master");
                            //Swal.fire({
                            //    icon: 'error',
                            //    title: 'Oops...',
                            //    text: "File Doesn't belongs to Motor Policy",
                            //});
                        }
                        else if (result == -3) {
                            alert("File which you trying to upload is incorrect.!");
                            //Swal.fire({
                            //    icon: 'error',
                            //    title: 'Oops...',
                            //    text: "File which you trying to upload is incorrect.!",
                            //});
                        }
                        else if (result == "success") {
                            alert("File Uploaded Successfully!");
                            //Swal.fire({
                            //    icon: 'success',
                            //    title: 'Success!',
                            //    text: "File Uploaded Successfully!",

                            //}).then(
                            //    function () { window.location.href = "ProducerMaster"; });
                        }
                        else if (result == "same") {
                            alert("All the Records already exists. Try uploading new data.");
                            //Swal.fire({
                            //    icon: 'warning',
                            //    title: 'Warning!',
                            //    text: "All the Records already exists. Try uploading new data.",
                            //}).then(
                            //    function () { window.location.href = "ProducerMaster"; });
                        }
                        else {
                            //Swal.fire({
                            //    icon: 'error',
                            //    title: 'Oops...',
                            //    text: err.statusText,
                            //})
                            alert('Error while uploading.');
                        }
                    },
                    error: function (err) {
                        alert('Error while uploading.');

                        //Swal.fire({
                        //    icon: 'error',
                        //    title: 'Oops...',
                        //    text: err.statusText,
                        //})
                    }
                });
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: "FormData is not supported.",
                })
            }
        });
        $('.fileuploader-input').click(function () {
            $("#fileUploadMotor").click();

        });
        $('#clearFiles').click(function () {
            $("#fileContainer").hide();
            $('#fileUploadMotor').val('');
            $("#btnUpload").attr("disabled", "disabled");
        });
        $('#clearFiles').hover(
            function () {
                $('#clearFiles').removeClass("btn-success").addClass("btn-danger");
                $('#clearFiles .fas').removeClass("fa-check").addClass("fa-trash");
            },
            function () {
                $('#clearFiles').removeClass("btn-danger").addClass("btn-success");
                $('#clearFiles .fas').removeClass("fa-trash").addClass("fa-check");
            });
        $('#fileUploadMotor').change(function (e) {
            var fileName = e.target.files[0].name;
            var fileSize = e.target.files[0].size;
            $("#fileContainer").show();
            $("#fileName").html(fileName);
            fileSize = (fileSize / 1024).toFixed(2);
            $("#fileSize").html(fileSize + " KB");
            //if (document.getElementById("fileUploadMotor").files.length == 0) {
            $("#btnUpload").removeAttr("disabled", "disabled");
            //}
            //alert('The file "' + fileName + '" has been selected.');
        });
        function callChangefunc(val) {
            if (val === 'Self') {
                $("#EmployeeDetails").show();
                $("#SpouseDetails").hide();
                $("#ChildDetails").hide();
            } else if (val === 'Spouse') {
                $("#EmployeeDetails").hide();
                $("#SpouseDetails").show();
                $("#ChildDetails").hide();
            } else if (val === 'Child') {
                $("#EmployeeDetails").hide();
                $("#SpouseDetails").hide();
                $("#ChildDetails").show();
            }
        }
        function temptableAdd() {
            $("#tempEmpDetailsTable tbody").append("<tr>" +
                "<td>" + $("#EmployeeName").val() + "</td>" +
                "<td>" + $("#EmployeeGender").val() + "</td>" +
                "<td>" + '<span class="badge badge-pill badge-primary">' + $("#RelationshipID").val() + '</span>' + "</td>" +
                "<td>" + $("#EmployeeBankName").val() + "</td>" +
                "<td>" + $("#Age").val() + "</td>" +
                "<td>" + $("#BankName").val() + "</td>" +
                "<td>" + $("#Category").val() + "</td>" +
                "<td>" + $("#Salary").val() + "</td>" +
                "<td>" + $("#EffectiveDate").val() + "</td>" +
                "<td class='text-center'>" + '<i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i>' + "</td>" +
                "</tr>");
        }
    </script>*@

