@model Totalligent.UI.Models.MedicalProviderModel
@using Totalligent.BusinessEntities;
@{
    ViewBag.Title = "MedicalProviderMaster";
    Layout = "~/Areas/GroupLifeInsurance/Views/Shared/_Layout.cshtml";
}

@{ List<SelectListItem> lstMedicalProvider = new List<SelectListItem>();
    lstMedicalProvider.Add(new SelectListItem
    {
        Text = "Hospital",
        Value = "Hospital"
    });
    lstMedicalProvider.Add(new SelectListItem
    {
        Text = "Clinic",
        Value = "Clinic"
    });
    lstMedicalProvider.Add(new SelectListItem
    {
        Text = "Polyclinic",
        Value = "Polyclinic"
    });
    lstMedicalProvider.Add(new SelectListItem
    {
        Text = "Diagnostic center,",
        Value = "Diagnosticcenter",
    }); }
@{ List<SelectListItem> lstBANDCategories = new List<SelectListItem>();
    lstBANDCategories.Add(new SelectListItem
    {
        Text = "Band A",
        Value = "Band A"
    });
    lstBANDCategories.Add(new SelectListItem
    {
        Text = "Band B",
        Value = "BandB"
    });
    lstBANDCategories.Add(new SelectListItem
    {
        Text = "Band C",
        Value = "BandC"
    });
    lstBANDCategories.Add(new SelectListItem
    {
        Text = "Band D,",
        Value = "BandD",
    }); }

<div class="p-t-30">
    <div class="box">
        <div class="box-header with-border">
            <ul class="nav nav-pills justify-content-center mb-0">
                <li class=" nav-item flex-fill text-center"> <a href="#navpills2-1" class="nav-link active" data-toggle="tab" aria-expanded="false"><i class="fa fa-building-o mr-3"></i>Medical Provider Master</a> </li>
                <li class="nav-item flex-fill text-center"> <a href="#navpills2-2" class="nav-link" data-toggle="tab" aria-expanded="false"><i class="fa fa-search mr-3"></i>Search Medical Provider Master</a> </li>
            </ul>
        </div>
        <div class="box-body">
            <div class="tab-content">
                <div id="navpills2-1" class="tab-pane active">
                    <form id="formMPMaster">
                        <h4 class="text-center text-success">@TempData["Alertmsg"]</h4>
                        @{ TempData.Keep("MPFolderName");}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="col-sm-12 font-weight-bold text-center">Medical Provider's Basic Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Medical Provider</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("MedicalProvider", lstMedicalProvider, "-- Select Medical Provider --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("Name", "", new { @class = "form-control w-full", @placeholder = "Enter Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Contact Person</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("ContactPerson", "", new { @class = "form-control w-full", @placeholder = "Enter Contact Person Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Mobile Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("MobileNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Mobile Number" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Email ID</label>
                                        </div>
                                        <div class="col-md-6">
                                            @*@Html.EditorFor(model => model.EmailId, "", new { htmlAttributes = new { @class = "form-control w-full" } })*@
                                            @Html.TextBox("EmailId", "", new { @class = "form-control w-full", @placeholder = "Enter Email ID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Address</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("Address", "", new { @class = "form-control w-full", @placeholder = "Enter Address" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">City</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("City", "", new { @class = "form-control w-full", @placeholder = "Enter City Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">State</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("State", "", new { @class = "form-control w-full", @placeholder = "Enter State Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Zipcode</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("Zipcode", "", new { @class = "form-control w-full", @placeholder = "Enter Zipcode" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Location</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("Location", "", new { @class = "form-control w-full", @placeholder = "Enter Location" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Choose Category</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Category", lstBANDCategories, "-- Select Category --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <h4 class="col-sm-12 font-weight-bold text-center">Medical Provider's Account Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="BankName" class="col-form-label text-md-right w-full">Bank Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("BankName", Model.lstBankMaster, "-- Select Bank --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Account Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("AccountNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Account Number", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Repeat Account Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.Password("RepeatAccountNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Account Number", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">IFSC Code</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("IFSCCode", "", new { @class = "form-control w-full", @placeholder = "Enter IFSC Code", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Upload KYC </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="Divdropzone" class="dropzone" action="~/GroupLifeInsurance/MedicalProvider/SaveUploadedFile" method="post" enctype="multipart/form-data">
                                                <div id="tabs-3">
                                                    <div class="row field ">
                                                        <div id="dropzoneWrapper" class="dz-default dz-message col-12">
                                                            <i class="mdi mdi-cloud-upload font-size-30 text-muted"></i>
                                                            <h5>Drop files here or click to Upload</h5>
                                                            <div id="dropZoneContainer">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divKYCDownload" class="hide">
                                                <a href="/KYC_Files/MPMasterKYCFiles/20041.zip" class="badge badge-pill badge-warning" download> Download KYC</a>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-15">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="submit" id="btnSubmitMPMaster" value="Create" class="btn btn-primary m-20" />
                                    <button class="btn btn-primary-login m-20" type="button" data-toggle="modal" data-target="#uploadBulk">
                                        <i class="mdi mdi-cloud-upload"></i> Bulk Upload Policy
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="hdnMPMasterID" value="0">
                    </form>
                </div>
                <div id="navpills2-2" class="tab-pane ">
                    <div class="card no-shadow">
                        <div class="card-body form-horizontal">
                            <div class="row ">
                                <div class="col-md-3">
                                    @Html.TextBox("txtMP", "", new { @class = "form-control w-full", @placeholder = "Enter Medical Provider" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("txtName", "", new { @class = "form-control w-full", @placeholder = "Enter Name" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("txtContactPerson", "", new { @class = "form-control w-full", @placeholder = "Enter Medical Contact" })
                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" id="MPFolderName" value='@TempData["MPFolderName"]' />
                                    <button type="button" id="btnSearch" class="btn btn-block btn-primary"><i class="fa fa-search mr-3"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Search Results:</h5>
                    <br />
                    <div class="table-responsive">
                        <table id="tblMPMaster" class="table table-hover">
                            <tr>
                                <th>MedicalProvider</th>
                                <th>Name</th>
                                <th>ContactPerson</th>
                                <th>MobileNumber</th>
                                <th>EmailId</th>
                                <th>KYCUploadPath</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer text-right">
            <button id="btnMPSubmit" class="btn btn-rounded btn-primary">Submit</button>
            <button class="btn btn-rounded btn-secondary">Cancel</button>
        </div>
    </div>
</div>
@using (Html.BeginForm("BulkUpdate", "MedicalProvider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="uploadBulk" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="uploadBulkLabel">Upload Bulk Policies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <div class="text-right">

                                <a href="~/Masters/MedicalProviderMaster.csv" class="btn btn-dark btn-sm" download>
                                    <i class="mdi mdi-download"></i> Download Sample format
                                </a>
                            </div>
                            <div class="fileuploader fileuploader-theme-dragdrop">
                                <input type="file" name="MPCSVFile" id="fileUploadMP" accept=".csv" />
                                <div class="mt-2">
                                    <i class="fa fa-upload fa-sm btn btn-success btn-block" onclick="csvFileUpload();">
                                        <span>Upload</span>
                                    </i>
                                    <button id="uploadFiles" class="btn btn-primary btn-sm mx-1 hide">Upload File</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<script type="text/javascript">

    //txtCitytxtMPCodetxtMPName
    $(document).ready(function () {

        $("#txtMP").autocomplete({
            minLength: 2,
            autoFocus: true,
            open: function () { $($('.ui-autocomplete')).css('width', '300px'); },
            source: function (request, response) {
                var param = { prefixText: $('#txtMP').val(), Action: "MedicalProvider" };

                $.ajax({
                    url: "/GroupLifeInsurance/MedicalProvider/GetAutocompleteMPNameProvider",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.MedicalProvider,
                                value: item.MedicalProvider
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        //alert(err.Message)
                        console.log("Ajax Error!");
                    }
                });
            },
            //select: function (e, i) {
            //    $("#txtSeaRIMaster").val(i.item.label);
            //    return false;
            //},
        });


        $('#btnSubmitMPMaster').on('click', function () {

            if ($.trim($('#MedicalProvider').val()) == "") {
                alert('Please enter MedicalProvider');
                $('#MedicalProvider').focus();
                return false;
            }
            if ($.trim($('#Name').val()) == "") {
                alert('Please enter Name');
                $('#Name').focus();
                return false;
            }

            if ($.trim($('#ContactPerson').val()) == "") {
                alert('Please enter ContactPerson');
                $('#ContactPerson').focus();
                return false;
            }
            if ($.trim($('#MobileNumber').val()) == "") {
                alert('Please enter MobileNumber');
                $('#MobileNumber').focus();
                return false;
            }
            if ($.trim($('#EmailId').val()) == "") {
                alert('Please enter EmailId');
                $('#EmailId').focus();
                return false;
            }
            if ($.trim($('#Address').val()) == "") {
                alert('Please enter Address');
                $('#Address').focus();
                return false;
            }
            if ($.trim($('#City').val()) == "") {
                alert('Please enter City');
                $('#City').focus();
                return false;
            }
            if ($.trim($('#State').val()) == "") {
                alert('Please enter State');
                $('#State').focus();
                return false;
            }
            if ($.trim($('#Zipcode').val()) == "") {
                alert('Please enter Zipcode');
                $('#Zipcode').focus();
                return false;
            }
            if ($.trim($('#Location').val()) == "") {
                alert('Please enter Location');
                $('#Location').focus();
                return false;
            }
            if ($.trim($('#Category').val()) == "") {
                alert('Please enter Category');
                $('#Category').focus();
                return false;
            }

            //if ($.trim($('#UploadKYC_01').val()) == "") {
            //    alert('Please enter UploadKYC_01');
            //    $('#UploadKYC_01').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_02').val()) == "") {
            //    alert('Please enter UploadKYC_02');
            //    $('#UploadKYC_02').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_03').val()) == "") {
            //    alert('Please enter UploadKYC_03');
            //    $('#UploadKYC_03').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_04').val()) == "") {
            //    alert('Please enter UploadKYC_04');
            //    $('#UploadKYC_04').focus();
            //    return false;
            //}
            //if ($.trim($('#UploadKYC_05').val()) == "") {
            //    alert('Please enter UploadKYC_05');
            //    $('#UploadKYC_05').focus();
            //    return false;
            //}

            if ($.trim($('#BankName :selected').val()) == "") {
                alert("Please select BankName");
                $("#BankName").focus();
                return false;
            }

            if ($.trim($("#AccountNumber").val()) == "") {
                alert("Please enter Account Number");
                $("#AccountNumber").focus();
                return false;
            }
            if ($.trim($("#RepeatAccountNumber").val()) == "") {
                alert("Please enter Repeat Account Number");
                $("#RepeatAccountNumber").focus();
                return false;
            }
            if ($.trim($("#AccountNumber").val()) != "" && $.trim($("#RepeatAccountNumber").val()) != "") {
                if ($.trim($("#AccountNumber").val()) != $.trim($("#RepeatAccountNumber").val())) {
                    $("#RepeatAccountNumber").val("");
                    $("#RepeatAccountNumber").focus();
                    alert("Please check,Account Number is not match");
                    return false;
                }
            }

            if ($.trim($("#IFSCCode").val()) == "") {
                alert("Please enter IFSCCode");
                $("#IFSCCode").focus();
                return false;
            }

            var objMPMaster = new Object();
            objMPMaster.MedicalProviderId = $('#MedicalProviderId').val();
            objMPMaster.MedicalProvider = $('#MedicalProvider').val();
            objMPMaster.Name = $('#Name').val();
            objMPMaster.MedicalProviderCode = $('#MedicalProviderCode').val();
            objMPMaster.ContactPerson = $('#ContactPerson').val();
            objMPMaster.MobileNumber = $('#MobileNumber').val();
            objMPMaster.EmailId = $('#EmailId').val();
            objMPMaster.Address = $('#Address').val();
            objMPMaster.City = $('#City').val();
            objMPMaster.State = $('#State').val();
            objMPMaster.Zipcode = $('#Zipcode').val();
            objMPMaster.Location = $('#Location').val();
            objMPMaster.Category = $('#Category').val();

            objMPMaster.UploadKYC_01 = $('#UploadKYC_01').val();
            objMPMaster.UploadKYC_02 = $('#UploadKYC_02').val();
            objMPMaster.UploadKYC_03 = $('#UploadKYC_03').val();
            objMPMaster.UploadKYC_04 = $('#UploadKYC_04').val();
            objMPMaster.UploadKYC_05 = $('#UploadKYC_05').val();


            objMPMaster.BankName = $('#BankName :selected').text();
            objMPMaster.BankID = $('#BankName :selected').val();
            objMPMaster.AccountNumber = $("#AccountNumber").val();
            objMPMaster.IFSCCode = $("#IFSCCode").val();

            var param = { objMPMaster: objMPMaster, Action: $("#btnSubmitMPMaster").val(), FolderName: $("#MPFolderName").val() };
            //var renewalData = $('#formRIMaster').serialize();
            $.ajax({
                type: "POST",
                url: "/GroupLifeInsurance/MedicalProvider/AddUpdateMPMaster",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: param,
                success: function (res) {
                    if (res > 0) {
                        Swal.fire({
                            icon: 'success',
                            title: '',
                            text: "Data Submitted Successfully.",
                        })
                    }
                    else if (res == -2) {
                        Swal.fire({
                            icon: 'warning',
                            title: '',
                            text: "Please provide all mandatory fields.",
                        })
                        //alert('Please provide all mandatory fields')
                        return false;
                    }
                    $('#formMPMaster').reset();
                },
                error: function () {
                    // $("#lblMessage").html('Error while Registring the Company!.');
                    $('#formMPMaster').reset();
                }
            })
        });
    });


    $('#btnSearch').on('click', function () {
        // var formData = $('#MotorForm').serialize();
        //txtContacttxtMPCode
        var param = { MedicalProvider: $('#txtMP').val(), Name: $('#txtName').val(), ContactPerson: $('#txtContactPerson').val() };
        $("#tblMPMaster").find("tr:not(:first)").remove();

        $.ajax({

            type: "GET",
            url: "/GroupLifeInsurance/MedicalProvider/GetMPMaster",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: param,
            success: function (Result) {
                if (Result.length > 0) {
                    var i = 0;
                    $.each(Result, function (key, value) {
                        i++;
                        var hdnID = "hdnobjJSonVal_" + i;
                        var JVal = JSON.stringify(value);
                        $('#tblMPMaster').append('<tr> <td>' + value.MedicalProvider + '</td>  <td>' + value.Name + '</td> <td>' + value.ContactPerson + '</td> <td>' + value.MobileNumber + '</td><td>' + value.EmailId + '</td><td> <a href="' + value.KYCUploadPath + '" class="badge badge-pill badge-warning" download> Download KYC</a></td><td class="text-center"><i class="mdi mdi-pencil text-primary mx-3" onclick="EditMPMaster(' + "'" + hdnID + "'" + ')"></i><i class="mdi mdi-delete text-danger mx-3" onclick="DeActiveMPMaster(this,' + value.MedicalProviderId.toString() + ');"></i><input type="hidden" id=' + hdnID + ' value=' + "'" + JVal + "'" + '></td></tr>');


                    })
                }
                else {
                    $('#tblMPMaster').append('<tr> <td colspan="14" aligen="center" > No Records found </td></tr>');
                }

            },
            error: function () {
                // $("#lblMessage").html('Error while Registring the Company!.');
            }
        })
    });

    function DeActiveMPMaster(obj, RID) {

        var RIDs = '' + RID;
        var param = { MPId: RIDs };
        $.ajax({
            type: "POST",
            url: "/GroupLifeInsurance/MedicalProvider/DeactivateMPMaster",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: param,
            success: function (Result) {
                if (Result == "DeActivated") {
                    $(obj).closest('tr').remove();
                    alert("DeActivated successfully");
                    return false;
                }
                else { alert(Result); }
            },
            error: function () {
                console.log('Error while deactivating!.');
            }
        })

    }
    function EditMPMaster(JsonObj) {
        $("#anavpills2-2").removeClass("active");
        $("#navpills2-2").removeClass("active");

        $("#anavpills2-1").addClass("active");
        $("#navpills2-1").addClass("active");

        var objRow = JSON.parse($("#" + JsonObj).val());

        $('#MedicalProviderId').val(objRow.MedicalProviderId);
        $('#MedicalProvider').val(objRow.MedicalProvider);
        $('#Name').val(objRow.Name);
        $('#MedicalProviderCode').val(objRow.MedicalProviderCode);
        $('#ContactPerson').val(objRow.ContactPerson);
        $('#MobileNumber').val(objRow.MobileNumber);
        $('#EmailId').val(objRow.EmailId);
        $('#Address').val(objRow.Address);
        $('#City').val(objRow.City);
        $('#State').val(objRow.State);
        $('#Zipcode').val(objRow.Zipcode);
        $('#Location').val(objRow.Location);
        $('#Category').val(objRow.Category);
        $('#BankID').val(objRow.BankID);
        $('#AccountNumber').val(objRow.AccountNumber);
        $('#IFSCCode').val(objRow.IFSCCode);
        $('#UploadKYC_01').val(objRow.UploadKYC_01);
        $('#UploadKYC_02').val(objRow.UploadKYC_02);
        $('#UploadKYC_03').val(objRow.UploadKYC_03);
        $('#UploadKYC_04').val(objRow.UploadKYC_04);
        $('#UploadKYC_05').val(objRow.UploadKYC_05);

        $('#BankName').val(objRow.BankID);
        $("#AccountNumber").val(objRow.AccountNumber);
        $("#RepeatAccountNumber").val(objRow.AccountNumber);
        $("#IFSCCode").val(objRow.IFSCCode);
        $("#hdnMPMasterID").val(objRow.MedicalProviderId);

        $("#btnSubmitMPMaster").val("Update");

    }
    function csvFileUpload() {

        var rowCount = 0;
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test($("#fileUploadMP").val().toLowerCase())) {

            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {

                    var rows = e.target.result.split('\r\n');

                    for (var i = 0; i < rows.length; i++) {

                        var cells = rows[i].split(",");
                        var RRC = rowCount + 1;
                        if (i == 0) {


                            // Heater validation
                            if (cells.length == 14) {

                                if (cells[0] != "MedicalProvider") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (MedicalProvider).");
                                    return false;
                                }
                                if (cells[1] != "ContactPerson") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (ContactPerson).");
                                    return false;
                                }
                                if (cells[2] != "MobileNumber") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (MobileNumber).");
                                    return false;
                                }
                                if (cells[3] != "EmailId") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (EmailID).");
                                    return false;
                                }
                                if (cells[4] != "Address") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (Address).");
                                    return false;
                                }
                                if (cells[5] != "City") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (City).");
                                    return false;
                                }
                                if (cells[6] != "State") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (State).");
                                    return false;
                                }
                                if (cells[7] != "Zipcode") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (Zipcode).");
                                    return false;
                                }
                                if (cells[8] != "BankName") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (BankName).");
                                    return false;
                                }
                                if (cells[9] != "AccountNumber") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (AccountNumber).");
                                    return false;
                                }
                                if (cells[10] != "IFSCCode") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (IFSCCode).");
                                    return false;
                                }
                                if (cells[11] != "Name") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (Name).");
                                    return false;
                                }
                                if (cells[12] != "Location") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (Location).");
                                    return false;
                                }
                                if (cells[13] != "Category") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check column name mismatch (Category).");
                                    return false;
                                }


                            }
                            else {
                                $('#fileUploadMP').val('');
                                alert("Upload Csv file invalid template , Please check .");
                                return false;
                            }

                        } else {
                            // Row validation
                            if (cells.length == 14) {


                                if (cells[0] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " MedicalProvider  is empty");
                                    return false;
                                }

                                if (cells[1] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " ContactPerson is empty");
                                    return false;
                                }

                                if (cells[2] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " MobileNumber  is empty");
                                    return false;
                                }

                                if (cells[3] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " EmailID is empty");
                                    return false;
                                }

                                if (cells[4] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " Address is empty");
                                    return false;
                                }
                                if (cells[5] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " City is empty");
                                    return false;
                                }

                                if (cells[6] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " State is empty");
                                    return false;
                                }
                                if (cells[7] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " Zipcode is empty");
                                    return false;
                                }
                                if (cells[8] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " BankName is empty");
                                    return false;
                                }

                                if (cells[9] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " AccountNumber is empty");
                                    return false;
                                }
                                if (cells[10] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " IFSCCode is empty");
                                    return false;
                                }
                                if (cells[11] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " Name is empty");
                                    return false;
                                }
                                if (cells[12] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " Location is empty");
                                    return false;
                                }
                                if (cells[13] == "") {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " Category is empty");
                                    return false;
                                }


                            }
                            else {

                                if (cells.length > 1) {
                                    $('#fileUploadMP').val('');
                                    alert("Please check Row NO : " + RRC + " This row have comma simple or invalied Column length");
                                    return false;
                                }
                            }

                        }

                        rowCount += 1;

                    }

                    if (rowCount == rows.length) {
                        $("#hdnMsgStatus").val('Y');
                        $("#uploadFiles").click();

                    }

                }
                reader.readAsText($("#fileUploadMP")[0].files[0]);
            } else {
                $('#fileUploadMP').val('');
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            $('#fileUploadMP').val('');
            alert("Please upload a valid CSV file.");
            return false;
        }
    }
</script>
@section scripts {
    <script type="text/javascript">
        Dropzone.options.Divdropzone = {
            maxFiles: 6,
            acceptedFiles: 'image/*',
            maxFilesize: 2, // max file size in MB,
            addRemoveLinks: true,
            init: function () {
                this.on("error", function (file, message) {
                    alert(message + " because already reached maxmim file limt (3) or invalid file extension");
                    this.removeFile(file);
                });
            },

        };
    </script>
}

