
@model Totalligent.UI.Models.RIMasterModel
@using Totalligent.BusinessEntities;


@{ ViewBag.Title = "RIMaster";
    Layout = "~/Areas/GroupLifeInsurance/Views/Shared/_Layout.cshtml"; }

@*<style type="text/css">
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
        * we use height instead, but this forces the menu to always be this tall
        */
        * html .ui-autocomplete {
            height: 100px;
        }

        .fixed-height {
            padding: 1px;
            max-height: 200px;
            overflow: auto;
        }
    </style>*@

@* AutoComplete *@



<div class="p-t-30">
    <div class="box">
        <div class="box-header with-border">
            <ul class="nav nav-pills justify-content-center mb-0">
                <li class=" nav-item flex-fill text-center"> <a href="#navpills2-1" class="nav-link active" id="anavpills2-1" data-toggle="tab" aria-expanded="false"><i class="fa fa-building-o mr-3"></i>RI Master</a> </li>
                <li class="nav-item flex-fill text-center"> <a href="#navpills2-2" class="nav-link" id="anavpills2-2" data-toggle="tab" aria-expanded="false"><i class="fa fa-search mr-3"></i>Search RI Master</a> </li>
            </ul>
        </div>
        <div class="box-body">
            <div class="tab-content">
                <div id="navpills2-1" class="tab-pane active">
                    <form id="formRIMaster">
                        @TempData["Alertmsg"];

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="col-sm-12 font-weight-bold text-center">RI's Basic Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">RI Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("RIName", "", new { @class = "form-control w-full", @placeholder = "Enter RI Name", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Contact Person</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("ContactName", "", new { @class = "form-control w-full", @placeholder = "Enter Contact Person Name", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Mobile Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("MobileNumber", "", new { @type = "number", @class = "form-control w-full", @placeholder = "Enter Mobile Number", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Email ID</label>
                                        </div>
                                        <div class="col-md-6">
                                            @*@Html.EditorFor(model => model.EmailId, "", new { htmlAttributes = new { @class = "form-control w-full" } })*@
                                            @Html.TextBox("EmailID", "", "", new { @class = "form-control w-full", @placeholder = "Enter Email ID", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Address</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TAddress", "", new { @class = "form-control w-full", @placeholder = "Enter Address", @maxlength = "255" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">City</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TCity", "", new { @class = "form-control w-full", @placeholder = "Enter City Name", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">State</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TState", "", new { @class = "form-control w-full", @placeholder = "Enter State Name", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Zipcode</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TZipcode", "", new { @class = "form-control w-full", @placeholder = "Enter Zipcode", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <h4 class="col-sm-12 font-weight-bold text-center">RI's Account Details</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="BankName" class="col-form-label text-md-right w-full">Bank Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("BankName", Model.lstBankMaster, "-- Select Bank --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Account Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("AccountNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Account Number", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Repeat Account Number</label>
                                        </div>
                                        <div class="col-md-6">

                                            @Html.Password("RepeatAccountNumber", "", new { @class = "form-control w-full", @placeholder = "Enter Account Number", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">IFSC Code</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("IFSCCode", "", new { @class = "form-control w-full", @placeholder = "Enter IFSC Code", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Upload KYC </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" dropzone" action="/file-upload">
                                                <div id="tabs-3">
                                                    <div class="row field ">
                                                        <div id="dropzoneWrapper" class="dz-default dz-message col-12">
                                                            <i class="mdi mdi-cloud-upload font-size-30 text-muted"></i>
                                                            <h5>Drop files here or click to Upload</h5>
                                                            <div id="dropZoneContainer">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-15">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="submit" id="btnSubmitProducerMaster" value="Create" class="btn btn-primary m-20" />
                                    <button class="btn btn-primary-login m-20" type="button" data-toggle="modal" data-target="#uploadBulk">
                                        <i class="mdi mdi-cloud-upload"></i> Bulk Upload Policy
                                    </button>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="hdnRIMasterID" value="0">
                    </form>
                </div>
                <div id="navpills2-2" class="tab-pane ">
                    <div class="card no-shadow">
                        <div class="card-body form-horizontal">
                            <div class="row ">
                                <div class="col-md-3">
                                    @Html.TextBox("txtSeaRIName", "", new { @class = "form-control w-full", @placeholder = "Enter RI Master Name" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("txtSeaRICode", "", new { @class = "form-control w-full", @placeholder = "Enter RI Master Code" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("txtSeaRICity", "", new { @class = "form-control w-full", @placeholder = "Enter RI Master City" })
                                </div>
                                <div class="col-md-3">

                                    <button type="submit" class="btn btn-block btn-primary" id="btnSearch"><i class="fa fa-search mr-3"></i>Search</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Search Results:</h5>
                    <br />
                    <div class="table-responsive">
                        <table id="tblRIMaster" class="table table-hover">
                            <tr>
                                <th>RIName</th>
                                <th>RICode</th>
                                <th>ContactPerson</th>
                                <th>MobileNumber</th>
                                <th>EmailId</th>
                                <th>Address</th>
                                @*<th>City</th>
                                    <th>State</th>
                                    <th>Zipcode</th>*@
                                <th>BankName</th>
                                <th>AccountNumber</th>
                                <th>IFSCCode</th>
                                <th>KYCDocument</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer text-right hide">
            <button class="btn btn-rounded btn-primary">Submit</button>
            <button class="btn btn-rounded btn-secondary">Cancel</button>
        </div>
    </div>
</div>

<div id="uploadBulk" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="uploadBulkLabel">Upload Bulk Policies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <div class="text-right">

                            <a href="~/Masters/ProducerMaster.xlsx" class="btn btn-dark btn-sm" download>
                                <i class="mdi mdi-download"></i> Download Sample format
                            </a>
                        </div>
                        @*
                            <form method="post" enctype="multipart/form-data">
                        *@
                        <div class="fileuploader fileuploader-theme-dragdrop">

                            <input type="file" name="postedFile" id="fileUploadMotor" accept=".xls,.xlsx" />
                            <input type="hidden" id="txtMotorMaster" name="txtMotorMaster" value="1">
                            <input type="hidden" id="uploadFilesInptHdn" name="fileuploader-list-files" value="[]">
                            <input type="file" id="uploadFilesInpt" name="files[]" multiple="multiple" style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
                            <div class="fileuploader-input">
                                <div class="fileuploader-input-inner">
                                    <div class="fileuploader-icon-main"></div>
                                    <h3 class="fileuploader-input-caption">
                                        <span>Drag and drop files here</span>
                                    </h3>
                                    <p></p>
                                    <button type="button" class="fileuploader-input-button">
                                        <span>Browse files</span>
                                    </button>
                                </div>
                            </div>
                            <div class="fileuploader-items">
                                <ul class="fileuploader-items-list">
                                    <li class="fileuploader-item file-type-application file-ext-xlsx file-has-popup upload-successful">
                                        <div id="fileContainer" class="columns" style="display: none;">
                                            <div class="column-thumbnail">
                                                <div class="fileuploader-item-image fileuploader-no-thumbnail">
                                                    <div style="background-color: #591605" class="fileuploader-item-icon">
                                                        <i>xlsx</i>
                                                    </div>
                                                </div>
                                                <span class="fileuploader-action-popup"></span>
                                            </div>
                                            <div class="column-title">
                                                <div id="fileName">SampleFile.xlsx</div>
                                                <span id="fileSize">0 KB</span>
                                            </div>
                                            <div class="column-actions">
                                                <button type="button" id="clearFiles" class="btn btn-success btn-sm round" title="Delete">
                                                    <i class="fas fa-check fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="progress-bar2" style="display: none;">
                                            <div class="fileuploader-progressbar">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                            <span>100%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-2">
                                <button id="btnUpload" type="submit" class="btn btn-success btn-block">
                                    <i class="fas fa-upload fa-sm"></i>
                                    <span>Upload</span>
                                </button>
                            </div>
                        </div>
                        @*
                            </form>
                        *@
                    </div>
                </div>
            </div>
            @*
                <div class="modal-footer justify-content-center">
                   <button type="button" class="btn btn-secondary btn-sm waves-effect" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">Renew</button>
                </div>
            *@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">


    $(document).ready(function () {

        $("#txtSeaRIName").autocomplete({
            minLength: 2,
            autoFocus: true,
            open: function () { $($('.ui-autocomplete')).css('width', '300px'); },
            source: function (request, response) {
                var param = { prefixText: $('#txtSeaRIName').val(), Action: "RIName" };

                $.ajax({
                    url: "/GroupLifeInsurance/ReInsurenceMaster/GetAutocompleteRINameRICodeCity",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.ReInsurerName,
                                value: item.ReInsurerName
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        //alert(err.Message)
                        console.log("Ajax Error!");
                    }
                });
            },
            //select: function (e, i) {
            //    $("#txtSeaRIMaster").val(i.item.label);
            //    return false;
            //},
        });

        $("#txtSeaRICode").autocomplete({
            minLength: 2,
            autoFocus: true,
            open: function () { $($('.ui-autocomplete')).css('width', '300px'); },
            source: function (request, response) {
                var param = { prefixText: $('#txtSeaRICode').val(), Action: "RICode" };

                $.ajax({
                    url: "/GroupLifeInsurance/ReInsurenceMaster/GetAutocompleteRINameRICodeCity",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.ReInsurerCode,
                                value: item.ReInsurerCode
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        //alert(err.Message)
                        console.log("Ajax Error! " + err.Message);
                    }
                });
            },
            //select: function (e, i) {
            //    $("#txtSeaRICode").val(i.item.label);
            //    return false;
            //},
        });


        $('#btnSubmitProducerMaster').on('click', function () {

            if ($.trim($("#RIName").val()) == "") {
                alert("Please enter RIName");
                $("#RIName").focus();
                return false;
            }
            if ($.trim($("#ContactName").val()) == "") {
                alert("Please enter ContactName");
                $("#ContactName").focus();
                return false;
            }
            if ($.trim($("#MobileNumber").val()) == "") {
                alert("Please enter MobileNumber");
                $("#MobileNumber").focus();
                return false;
            }
            if ($.trim($("#EmailID").val()) == "") {
                alert("Please enter EmailID");
                $("#EmailID").focus();
                return false;
            }
            if ($.trim($("#TAddress").val()) == "") {
                alert("Please enter Address");
                $("#TAddress").focus();
                return false;
            }
            if ($.trim($("#TCity").val()) == "") {
                alert("Please enter City");
                $("#TCity").focus();
                return false;
            }
            if ($.trim($("#TState").val()) == "") {
                alert("Please enter State");
                $("#TState").focus();
                return false;
            }
            if ($.trim($("#TZipcode").val()) == "") {
                alert("Please enter Zipcode");
                return false;
            }
            if ($.trim($('#BankName :selected').val()) == "") {
                alert("Please select BankName");
                $("#BankName").focus();
                return false;
            }

            if ($.trim($("#AccountNumber").val()) == "") {
                alert("Please enter Account Number");
                $("#AccountNumber").focus();
                return false;
            }
            if ($.trim($("#RepeatAccountNumber").val()) == "") {
                alert("Please enter Repeat Account Number");
                $("#RepeatAccountNumber").focus();
                return false;
            }

            if ($.trim($("#AccountNumber").val()) != "" && $.trim($("#RepeatAccountNumber").val()) != "") {

                if ($.trim($("#AccountNumber").val()) != $.trim($("#RepeatAccountNumber").val())) {
                    $("#RepeatAccountNumber").val("");
                    $("#RepeatAccountNumber").focus();
                    alert("Please check,Account Number is not match");

                    return false;
                }

            }

            if ($.trim($("#IFSCCode").val()) == "") {
                alert("Please enter IFSCCode");
                $("#IFSCCode").focus();
                return false;
            }

            var objRiMaster = new Object();
            objRiMaster.ReInsurerMasterId = $("#hdnRIMasterID").val();
            objRiMaster.ReInsurerName = $("#RIName").val();
            objRiMaster.ContactPerson = $("#ContactName").val();
            objRiMaster.MobileNumber = $("#MobileNumber").val();
            objRiMaster.EmailId = $("#EmailID").val();
            objRiMaster.Address = $("#TAddress").val();
            objRiMaster.City = $("#TCity").val();
            objRiMaster.State = $("#TState").val();
            objRiMaster.Zipcode = $("#TZipcode").val();

            objRiMaster.BankName = $('#BankName :selected').text();
            objRiMaster.BankID = $('#BankName :selected').val();
            objRiMaster.AccountNumber = $("#AccountNumber").val();
            objRiMaster.IFSCCode = $("#IFSCCode").val();

            var param = { objReInsurerMaster: objRiMaster, Action: $("#btnSubmitProducerMaster").val() };
            //var renewalData = $('#formRIMaster').serialize();
            $.ajax({
                type: "POST",
                url: "/GroupLifeInsurance/ReInsurenceMaster/AddUpdateRIMaster",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: param,
                success: function (res) {
                    if (res > 0) {
                        Swal.fire({
                            icon: 'success',
                            title: '',
                            text: "Data Submitted Successfully.",
                        })
                    }
                    else if (res == -2) {
                        Swal.fire({
                            icon: 'warning',
                            title: '',
                            text: "Please provide all mandatory fields.",
                        })
                        //alert('Please provide all mandatory fields')
                        return false;
                    }
                    $('#formRenewal').reset();
                },
                error: function () {
                    // $("#lblMessage").html('Error while Registring the Company!.');
                    $('#formRIMaster').reset();
                }
            })
        });
    });


    $('#btnSearch').on('click', function () {
        // var formData = $('#MotorForm').serialize();
        var param = { RIName: $('#txtSeaRIName').val(), RICode: $('#txtSeaRICode').val(), City: $('#txtSeaRICity').val() };
        $("#tblRIMaster").find("tr:not(:first)").remove();

        $.ajax({

            type: "GET",
            url: "/GroupLifeInsurance/ReInsurenceMaster/GetRIMaster",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: param,
            success: function (Result) {
                if (Result.length > 0) {
                    var i = 0;
                    $.each(Result, function (key, value) {
                        i++;
                        var hdnID = "hdnobjJSonVal_" + i;
                        var JVal = JSON.stringify(value);
                        $('#tblRIMaster').append('<tr> <td>' + value.ReInsurerName + '</td>  <td>' + value.ReInsurerCode + '</td> <td>' + value.ContactPerson + '</td> <td>' + value.MobileNumber + '</td><td>' + value.EmailId + '</td> <td>' + value.Address + '</td><td>' + value.BankName + '</td><td>' + value.AccountNumber + '</td><td>' + value.IFSCCode + '</td><td>' + value.UploadKYC_01 + '</td><td class="text-center"><i class="mdi mdi-pencil text-primary mx-3" onclick="EditRIMaster(' + "'" + hdnID + "'" + ')"></i><i class="mdi mdi-delete text-danger mx-3" onclick="DeActiveRIMaster(this,' + value.ReInsurerMasterId.toString() + ');"></i><input type="hidden" id=' + hdnID + ' value=' + "'" + JVal + "'" + '></td></tr>');


                    })
                }
                else {
                    $('#tblRIMaster').append('<tr> <td colspan="14" aligen="center" > No Records found </td></tr>');
                }
                //$("#tblRIMaster tr").filter(function () {
                //    $(this).toggle($(this).text().toLowerCase().indexOf(formData) > -1)
                //});

            },
            error: function () {
                // $("#lblMessage").html('Error while Registring the Company!.');
            }
        })
    });

    function DeActiveRIMaster(obj, RID) {

        var RIDs = '' + RID;
        var param = { RiMasterID: RIDs };
        $.ajax({
            type: "POST",
            url: "/GroupLifeInsurance/ReInsurenceMaster/DeactivateRIMaster",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: param,
            success: function (Result) {
                if (Result == "DeActivated") {
                    $(obj).closest('tr').remove();
                    alert("DeActivated successfully");
                    return false;
                }
                else { alert(Result); }



            },
            error: function () {
                console.log('Error while Registring the Company!.');
            }
        })

    }
    function EditRIMaster(JsonObj) {
        $("#anavpills2-2").removeClass("active");
        $("#navpills2-2").removeClass("active");

        $("#anavpills2-1").addClass("active");
        $("#navpills2-1").addClass("active");

        var objRow = JSON.parse($("#" + JsonObj).val());
        $("#RIName").val(objRow.ReInsurerName);
        $("#ContactName").val(objRow.ContactPerson);
        $("#MobileNumber").val(objRow.MobileNumber);
        $("#EmailID").val(objRow.EmailId);
        $("#TAddress").val(objRow.Address);
        $("#TCity").val(objRow.City);
        $("#TState").val(objRow.State);
        $("#TZipcode").val(objRow.Zipcode);

        //objRow.BankName = $('#BankName :selected').text();
        $('#BankName').val(objRow.BankID);
        $("#AccountNumber").val(objRow.AccountNumber);
        $("#RepeatAccountNumber").val(objRow.AccountNumber);
        $("#IFSCCode").val(objRow.IFSCCode);
        $("#hdnRIMasterID").val(objRow.ReInsurerMasterId);

        $("#btnSubmitProducerMaster").val("Update");

    }

</script>